 .header {
    flex-direction: column;
    align-items: center;

    &__nav {
        flex-direction: column;
        gap: 10px;
    }

    &__logo {
      display: flex;
      flex-flow: nowrap row;
    }
  }


@media (max-width: 768px) { /* Tablets */ }
@media (max-width: 1024px) { /* Laptops */ }
@media (max-width: 1200px) { /* Large screens */ }