/*========================================
=           CSS DES BADGES          =
========================================= */

.hero {
    &__badge {
        background-color: var(--primary-color);
        color: var(--text-color-dark);
        padding: 7px 20px;
        border-radius: var(--border-radius-rounded);
        font-size: 0.7rem;
        font-family: Geist;
        font-weight: 400;
        width: fit-content;
        border: var(--small-border) solid var(--secondary-color-dark);
        gap: 0.3rem;
        display: flex;
    }
}