:root {
    --background-color: #F0E8DB;
    
    --primary-color: #F0E8DB;
    --secondary-color-pale: #BDC8C0;
    --secondary-color-mid: #566D7B;
    --secondary-color-dark: #374C58;
    --tertiary-color: #323232;
    --accent-color: #F0D9CB;

    --text-color-dark: #323232;
    --text-color-light: #F0E8DB;
    --text-color-light-blue: #BDC8C0;
}
    