/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: var(--background-color);
    overflow-x: hidden;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

footer {
    background: var(--background-color);
    text-align: center;
}

:root {
    --mobile-padding-main: clamp(16px, 5vw, 24px);
    --laptop-padding-main: clamp(48px, 10vw, 64px);
    --desktop-padding-main: clamp(80px, 10vw, 120px);

    --border-radius-rounded: 50px;
    --border-radius-soft: 10px;

    --border-size: 2.5px;
    --small-border: 1px;

    --general-padding: 0 3rem;
}