/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: var(--background-color);
    overflow-x: hidden;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

footer {
    background: var(--background-color);
    text-align: center;
}

main {
    align-self: center;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}

:root {
    --desktop-gap-size: 1.5rem;

    --mobile-padding-main: clamp(16px, 5vw, 24px);
    --laptop-padding-main: clamp(48px, 10vw, 64px);
    --desktop-padding-main: clamp(80px, 10vw, 120px);

    --border-radius-rounded: 50px;
    --border-radius-soft: 10px;

    --border-size: 3px;
    --small-border: 1px;

    --mobile-general-width: 80vw;
    --laptop-general-width: clamp(200px, 75vw, 900px);
    --desktop-general-width: clamp(950px, 70vw, 2000px)
}