@font-face {
    font-family: RoundPop;
    src: url(gomarice_round_pop.ttf) format('truetype');
}

@font-face {
    font-family: Futura;
    src: url(Futura-Heavy.otf) format('opentype');
}

@font-face {
    font-family: Geist;
    src: url(Geist-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: Gelasio;
    src: url(Gelasio-Italic-VariableFont_wght.ttf) format('truetype');
}

/* Typography size */

:root {
    --mobile-font-size-menu: clamp(14px, 4vw, 30px);
    --laptop-font-size-menu: clamp(14px, 2vw, 24px);
    --desktop-font-size-menu: clamp(14px, 1vw, 16px);

    --mobile-font-size-heading: clamp(30px, 6vw, 40px);
    --laptop-font-size-heading: clamp(35px, 4vw, 48px);
    --desktop-font-size-heading: clamp(40px, 2.5vw, 56px);

    --mobile-font-size-subtitle: 24px;
    --laptop-font-size-subtitle: 26px;
    --desktop-font-size-subtitle: 28px;

    --mobile-font-size-h4: 20px;
    --laptop-font-size-h4: 21px;
    --desktop-font-size-h4: 22px;
    

    --mobile-font-size-paragraph: 16px;
    --laptop-font-size-paragraph: 16px;
    --desktop-font-size-paragraph: 17px;

    --mobile-page-title-size: 36px;
    --laptop-page-title-size: 52px;
    --desktop-page-title-size: 70px;
}

/* ------------------------
 * GLOBAL — colors, fonts, borders
------------------------- */

h2 {
    font-family: Futura, sans-serif;
    font-size: var(--mobile-font-size-heading);
    color: var(--text-color-dark);
    line-height: 1.2;
    letter-spacing: -0.02em;
    padding: 0.5rem 0;

    &--highlight {
        display: block;
    }
}

h3 {
    line-height: 1.15;
    letter-spacing: -0.01em;
}

p {
    line-height: 22px;
    font-weight: 500;
    letter-spacing: 0.01px;
    font-family: Geist, Arial, Helvetica, sans-serif;
}

.stats article > p {
    font-weight: 400;
}

/* ------------------------
 * Mobile
------------------------- */
h2{
    font-size: var(--mobile-font-size-heading);
}

h3{
    font-size: var(--mobile-font-size-subtitle);
}

h4{
    font-size: var(--mobile-font-size-h4);
}

p{
    font-size: var(--mobile-font-size-paragraph);
}


/* ------------------------
 * Laptop
------------------------- */
@media (min-width: 769px) {

    h2{
        font-size: var(--laptop-font-size-heading);
    }

    h3{
        font-size: var(--laptop-font-size-subtitle);
    }

    h4{
        font-size: var(--laptop-font-size-h4);
    }

    p{
        font-size: var(--laptop-font-size-paragraph);
    }
    
}


/* ------------------------
 * Desktop
------------------------- */
@media (min-width: 1200px) {
    
    h2{
        font-size: var(--desktop-font-size-heading);
    }

    h3{
        font-size: var(--desktop-font-size-subtitle);
    }

    h4{
        font-size: var(--desktop-font-size-h4);
    }

    p{
        font-size: var(--desktop-font-size-paragraph);  
    }
}