/*========================================
=           CSS PAGE DACCUEIL            =
========================================= */

/* ------------------------
* Global (colors, fonts, borders, position, display, etc.)
------------------------- */
#home {
 .idea, .stats, .cta {
        overflow: clip;
    }

    .hero {
        display: flex;
        flex-flow: column;

        &__tagline{
            font-family: Futura, sans-serif;
            line-height: 120%;
            color: var(--text-color-dark);
            width: 100%;
            text-align: left;
                &--underline {
                    text-decoration: underline;
                }               
        }

        &__swirl, &__swirl--second {
            position: relative;
            top: 0;
            pointer-events: none;
            z-index: -10;
        }
    }

    .why {

        &__title {
            font-family: Futura, sans-serif;
            color: var(--text-color-dark);
        }

        &__card {
            background-color: var(--primary-color);
            border: var(--border-size) solid var(--secondary-color-dark);
            border-radius: var(--border-radius-soft);

            &-image {
                border-radius: var(--border-radius-soft);
                border: var(--border-size) solid var(--secondary-color-dark);
                aspect-ratio: 3 / 2;
                background-size: cover;
                background-position: center top;
            }

            &-link {
                border-radius: var(--border-radius-soft);
            }

            &-label {
                background-color: var(--secondary-color-pale);
                color: var(--text-color-dark);
                font-family: Geist, sans-serif;
                font-weight: 700;
                border-radius: var(--border-radius-rounded);
                border: var(--border-size) solid var(--secondary-color-dark);
            }

            &-text {
                font-family: Geist, sans-serif;
                color: var(--text-color-dark);
            }
        }
    }

    .idea {
        background-color: var(--secondary-color-dark);
        position: relative;

        &__title {
            font-family: Futura, sans-serif;
            color: var(--text-color-light);
        }

        &__item {
            background-color: var(--secondary-color-pale);
            border-radius: var(--border-radius-soft);
            border: var(--border-size) solid var(--text-color-dark);

            &--title {
                font-family: Futura, sans-serif;
                color: var(--text-color-dark);
            }

            &--text {
                font-family: Geist, sans-serif;
                color: var(--text-color-dark);
            }
        }

        &__number {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-family: Gelasio, sans-serif;
            font-weight: 400;
            color: var(--text-color-dark);
            background-color: var(--primary-color);
            border-radius: var(--border-radius-rounded);
            border: var(--border-size) solid var(--text-color-dark);
        }

        &__mascot {
            position: absolute;
            z-index: 0;
        }
    }

    .stats {
        background-color: none;
        position: relative;

        &__title {
            &--underline {
                text-decoration: underline;
            }
        }

        &__card {
            background-color: var(--secondary-color-dark);
            border-radius: var(--border-radius-soft);

            &-title {
                font-family: Futura, sans-serif;
                color: var(--text-color-light);
            }

            &-text {
                font-family: Geist, sans-serif;
                color: var(--text-color-light-blue);
            }

            &-toggle {
                background: none;
                border: none;
                color: var(--text-color-light);
                cursor: pointer;
                font-size: 1.5rem;
                padding: 0;
            }

            &-label {
                font-family: Geist, sans-serif;
                color: var(--text-color-light-blue);
            }

            &-stat {
                font-family: Futura, sans-serif;
                color: var(--text-color-light);
                white-space: nowrap;
            }

            &-figures {
                border-top: var(--small-border) solid var(--secondary-color-pale);
            }
        }

        &__figure {
            &-label {
                font-family: Geist, sans-serif;
                color: var(--text-color-light-blue);
            }

            &-value {
                font-family: Futura, sans-serif;
                color: var(--text-color-light);
            }
        }

        &__figure-icon {
            width: 24px;
            height: 24px;
        }

        &__swirl--third {
            z-index: -15;
            overflow-x: clip;
        }
    }

    .cta {
        background-color: var(--secondary-color-dark);
        align-self: flex-start;
        color: var(--text-color-light);
        position: relative;
        z-index: -11;
        width: 100%;
        overflow: clip;

        &__text {
            font-family: Geist, sans-serif;
            color: var(--text-color-light);
        }

        &__title {
            color: var(--text-color-light);
        }

        &__deco-hands, &__deco-question-mark {
            position: absolute;
        }

        &__deco-question-mark {
            font-family: Futura, sans-serif;
            color: var(--secondary-color-mid);
            font-weight: 900;
            font-size: 450px;
            rotate: 14deg;
        }
    }
}


/* ------------------------
* Mobile
------------------------- */
#home {
    .hero__container, .why, .idea__content, .stats, .cta__content {
        width: var(--mobile-general-width);
        place-self: center;
    }

    .idea__content, .cta__content {
        margin: auto;
    }

    .hero {
        margin-top: calc(var(--mobile-top-margin-general) - 1rem);
        gap:4rem;
        &__container {
            display: flex;
            flex-direction: column;
            height: fit-content;
            align-items: center;
            justify-content: center;
            gap: 5vh;
        }

        &__swirl {
            position: absolute;
            left: 3em;
            top: 18rem;

            img {
                width: 200%;
                height: 200%;
            }
        }

        &__swirl--second {
            position: absolute;
            left: 1rem;
            top: 151rem;
            z-index: 0;
            img {
                width: 600px;
                height: auto;
            }
        }

        &__img {
            img {
                width: 90vw;
                height: auto;
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            height: fit-content;
        }

        &__tagline {
            margin-top: 10px;
            margin-bottom: 25px;
            font-size: clamp(20px, 5vw, 32px);
        }
    }
}

.why {
    margin-top: 5rem;
    margin-bottom: 5rem;

    &__title {
        margin: 0 0 3rem;

        &--highlight {
            display: block;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: visible;
        z-index: 1;
        padding: 1rem;

        &-image {
            width: auto;
            aspect-ratio: 3 / 2;
            background-size: cover;
            background-position: center top;
        }

        &-link {
            display: block;
            width: 100%;
            overflow: hidden;
        }

        &-label {
            position: absolute;
            top: -0.8rem;
            left: -1.3rem;
            display: inline-block;
            padding: 0.5rem 2rem;
        }

        &-text {
            margin: auto 1rem;
            padding: 10% 0 5% 0;
        }
    }
}

.idea {
    padding-top: 7rem;
    padding-bottom: 15rem;

    &__title {
        margin: 0 0 2.5rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2.5rem 2rem 2rem 2rem;
        z-index: 1;
    }

    &__number {
        position: absolute;
        font-style: italic;
        top: -1rem;
        left: -0.75rem;
        width: 3rem;
        height: 3rem;
        font-size: 1.2rem;
    }

    &__mascot {
        position: absolute;
        right: -5rem;
        bottom: -7.5rem;
        z-index: -10;
        img {
            width: 400px;
            height: auto;
        }
    }
}

.stats {
    padding-top: 7rem;
    padding-bottom: 5rem;

    &__title {
        margin: 0 0 2rem;
        z-index: 10;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        z-index: 10;
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        padding: 1.25rem;

        &-toggle {
            align-self: flex-end;
        }

        &-figures {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.5rem;
            padding-top: 0.75rem;
            margin-top: 0.25rem;
        }

        &--highlight {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 1.25rem;

            .stats__card-label {
                flex: 1;
                padding-right: 1rem;
            }
        }
    }

    &__figure {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    &__card {
        &-text {
            &--full {
                display: none;
            }

            &--reduced {
                display: inline;
            }
        }
    }

    &__swirl--third {
        position: absolute;
        right: -16rem;
        top: 6rem;
        z-index: -12;
        img {
            width: 1250px;
            height: auto;
        }
    }
}

.cta {
    align-self: flex-start;
    padding-bottom: 7rem;
    padding-top: 7rem;

    &__content {
        height: auto;
        position: relative;
        z-index: 100;
    }

    &__title {
        margin-bottom: 2rem;
        line-height: 1;
    }

    &__text {
        margin-bottom: 2.5rem;
    }

    &__deco-hands {
        bottom: -20%;
        right: -20%;
        z-index: -1;

        img {
            width: clamp(350px, 10vw, 400px);
            height: auto;
        }
    }

    &__deco-question-mark {
        top: -6%;
        left: -4%;
        z-index: 1;
    }
}


@media (min-width: 769px) {
    #home {
        .hero__container, .why, .idea__content, .stats, .cta__content {
            width: var(--laptop-general-width);
            place-self: center;
            margin: 7rem auto;
            padding: 0;
        }

        .cta__content {
            width: 500px;
        }

        .cta, .idea {
            padding-top: 0;
            padding-bottom: 0;
        }

        .hero {
            gap: 0;
            margin-top: 0;
            height: auto;

            margin-bottom: 0;
            &__container {
                display: flex;
                height: fit-content;
                align-items: center;
                justify-content: center;
                gap: 5vh;
                flex-direction: row-reverse;
            }

            &__img {
                img {
                    width: 45vw;
                    height: auto;
                    translate: 0% 7%;
                }
            }

            &__tagline {
                font-size: clamp(13px, 3vw, 27px);
            }
        }

        .stats__card {
            &-toggle {
                display: none;
            }

            &-text {
                &--reduced {
                    display: none;
                }

                &--full {
                    display: inline;
                }
            }
        }
    }

    .why {
        &__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10%;
        }

        @media (min-width: 1000px) {
            &__list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                gap: 5%;
            }

            &__card {
                flex: 1;
            }
        }
    }

    .stats {
        &__list {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: auto auto;
            gap: 1rem;
        }

        &__figure {
            flex-direction: column;
            gap: 0.25rem;
            justify-content: center;
            align-items: center;
            padding: 0 20% 0 10%;

            &-label {
                text-align: center;
            }
        }

        &__card {
            gap: 1.5rem;
            padding: 4rem 3rem;
        }

        &__card--expandable {
            grid-column: 1;
            grid-row: 1;
        }

        &__card--highlight {
            grid-column: 2;
            grid-row: 1;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 0rem;

            .stats__card-label {
                flex: 0;
                padding-right: 0;
            }

            .stats__card-stat {
                font-size: clamp(50px, 6vw, 80px);
            }
        }

        &__card--dark {
            grid-column: 1 / -1;
            grid-row: 2;
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: auto auto;
            gap: 1.5rem;
            column-gap: 8%;

            .stats__card-title {
                grid-column: 2;
                grid-row: 1;
                align-self: end;
            }

            .stats__card-text {
                grid-column: 2;
                grid-row: 2;
            }

            .stats__card-figures {
                grid-column: 1;
                grid-row: 1 / -1;
                border-top: none !important;
                border-right: var(--small-border) solid var(--secondary-color-pale);
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 2rem;
                padding-right: 1.5rem;
            }

            .stats__card-toggle {
                display: none;
            }
        }
    }

    .cta {
        &__content {
            display: flex;
            flex-flow: nowrap column;
            align-items: center;
        }

        &__deco-question-mark {
            top: -15%;
            left: 10%;
        }

        &__title {
            white-space: nowrap;
            margin-bottom: 1rem;
            text-align: center;
        }

        &__text {
            text-align: center;
            margin-bottom: 1.5rem;
        }
    }
}

@media (min-width: 1200px) {
    #home {
         .why, .idea__content, .stats, .cta__content {
            width: var(--desktop-general-width);
            place-self: center;
            margin: 8rem auto;
        }

        .hero__container {
            padding-top: 5vh;
            width: var(--desktop-general-width);
            margin: auto;
            place-self: center;
        }

        .cta {
            margin-bottom: 0;
        }

        .cta__content {
            width: 500px;
            margin: 5rem auto;
        }

        .cta, .idea {
            width: 100vw;
        }

        .hero {
            min-height: 700px;
            height: 96vh;
            &__container {
                column-gap: 10vh;
            }

            &__img {
                img {
                    width: clamp(500px, 32vw, 700px);
                    height: auto;
                }
            }

            &__tagline {
                font-size: clamp(20px, 3vw, 35px);
            }
        }

        .why {
            &__list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                gap: 5%;
            }

            &__title {
                &--highlight {
                    display: inline;
                }
            }

            &__card {
                flex: 1;
            }
        }

        .idea {
            display: flex;
            justify-content: center;

            &__content {
                place-self: center;
                padding-right: 25vw;
            }

            &__list {
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }

            &__number {
                font-size: 1.5rem;
            }

            &__mascot {
                right: -7rem;
                bottom: -10rem;
                img {
                    width: clamp(750px, 35vw, 1000px);
                    height: auto;
                }
            }
        }
    }
}